<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Domain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Worker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>iam.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F9FED021FC6AD9E00B99A27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F9FED161FC6AD9F00B99A27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F9FED211FC6AD9F00B99A27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F9FED401FC6B91C00B99A27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F9FED651FC6BA1D00B99A27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
